.registration_Container{
  background-color: rgb(144, 155, 43);
  width: 20em;
  padding: 30px;
  height: 65vh;
  box-shadow: 0px 0px 10px 2px; 
}

.app_name{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;  
}

.register_title{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
 
}

.firstAndPass {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .lastAndRePass {
    margin-left: 20px;
  }

  .email {
    flex-direction: column;
    display: flex;
    width: 420px;
  }

  .registration_Form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .set_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }



   