.search {
     display: flex;
     justify-content: space-around;    
}

.icon {
    margin-top: 10px;
    margin-left: 10px;
}

.card {
    margin-left: 3.5%;
    margin-top: 2px;
    width: 55%;
}

.card1 {
    margin-top: 4.75%;
    height: 595px;
    background-color: white;
}

.AppBar {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@media (max-width :600px) {
    .card {
        margin-left: 3.5%;
        margin-top: 2px;
        width: 55%;
    }
    .card1 {
        margin-top: 4.75%;
        height: 595px;
        background-color: white;
    }
}