.forgotpasswordpage {
   margin-left: 5%;
   width: 400px;
   height: 300px; 
   background-color: khaki;
    
}

.forgot {
  margin-top: 50px;
  margin-left: 457px;
  width: 420px;
  height: 750px; 
    justify-content: center;
  align-content: center;
}

.fundoo {
  margin-top: 25px;
  margin-left: 135px;
  font-size: 30px;
}

.findyourmail {
  margin-top: 15px;
  font-size: 20px;
  margin-left: 102px;
  font-size: 24px;
  font-weight: 520;
  font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
   
}

.recoverymail {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 490;
  letter-spacing: .1px;
  text-align: left;
}

.nextbutton {
  margin-left: 50%;
  margin-right: 50%;
  justify-content: center;
  align-content: center;
}