.resetpasswordpage {
    margin-left: 6%;
}

.reset {
    margin-top: 60px;
    margin-left: 457px;
    width: 450px;
    height: 510px;
}

.fundoo4 {
    margin-top: 25px;
    margin-left: 132px;
    font-size: 30px;
}

.resetpassword {
    margin-top: 15px;
    font-size: 20px;
    margin-left: 95px;
    font-size: 24px;
    ;
    font-weight: 520;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.resetpasswordtext {
    margin-top: 10px;
    /* margin-left:20px;    */
    /* width: 1000%; */
}

.nextbutton {
    margin-left: 74%;
}